@import "tailwindcss";

@plugin "daisyui" {
    themes: dim --default;
}

@theme {
    --width-rscreen: 100dvw;
    --height-rscreen: 100dvh;
}

@utility btn {
    @apply rounded-full shadow-none font-bold will-change-transform! uppercase active:translate-none!;
}

@layer base {
    * {
        @apply select-none;
    }
}
