@import "tailwindcss";

@plugin "daisyui" {
    themes: dim --default;
}

@theme {
    --width-rscreen: 100dvw;
    --height-rscreen: 100dvh;
}

@layer base {
    * {
        @apply select-none;
    }
}
